
/* ----------------------------------------------------
	 RESPONSIVE STYLES
------------------------------------------------------- */

@media(max-width:2560px) {

#header-v {
    min-height: 1080px;
}

}


@media(max-width:1920px) {

#header-v {
    min-height: 900px;
}

}

@media(max-width:1680px) {

#header-v {
    min-height: 740px;
}

}

@media(max-width:1440px) {

#header-v {
    min-height: 600px;
}

}

@media(max-width:1366px) {

#header-v {
    min-height: 700px;
}

}


@media(max-width:1280px) {

#header-v {
    min-height: 560px;
}

}


@media(max-width:1024px) {

.portfolio-header {
	margin-top: 0;
}

.hover-text {
	left: 15%;
}

.hover-text1 {
	left: 0;
}

#header-v {
	margin: 0 0 0 0;
    min-height: 580px;
}

#header-v h1 {
	padding-top: 240px;
}

a.btn-left {
  width: 22%;
}

a.btn-right {
  width: 22%;
}

}


@media(max-width:800px) {

.portfolio-header {
	margin-top: 35px;
}

.hover-text {
	left: 5%;
}

.hover-text1 {
	left: 0;
}

.services-btn {
	margin-bottom: 37px;
}

.portfolio-item {
	margin-top: 40px;
}

.news-sidebar {
	margin-top: 50px;
}

.news-date-post {
	margin-top: 20px;
}

.block-red {
	margin-top: 12px;
	margin-bottom: 32px;
}

.services3-header {
	margin-top: 8px;
	margin-bottom: 12px;
}

.img-portfolio-res {
	margin-bottom: 32px;
}

.img-gallery-res {
	margin-bottom: 32px;
}

.navbar-inverse .navbar-nav > li > a {
   font-size: 15px;
   text-transform: lowercase;
}

.contact-header {
	margin-top: 35px;
}

a.btn-left {
  width: 30%;
}
a.btn-right {
  width: 30%;
}

#header-v {
    min-height: 420px;
}

#header-v h1 {
	padding-top: 200px;
	font-size: 70px;
}

}

@media (max-width: 767px){

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
	color: white;
    background: #393b3d;
}

}


@media(max-width:600px) {
	
.portfolio-banner {
	margin-top: 2px;
}

.portfolio-banner .main-text {
    font-size: 40px;	
}

.responsive-style {
	margin-bottom: 30px;
}

.testimonials-banner {
	margin-top: 20px;
}

.testimonials-banner .main-text {
    font-size: 40px;	
}

.resp-btn {
	margin-bottom: 60px;
}

.about-us-border {
   margin-top: 37px;
   padding-bottom: 10px;
}

h4 {
	margin-top: -15px;
}

.our-clients-header {
	margin-top: 36px;
}

.our-clients-border {
   margin-top: 10px;
   padding-bottom: 15px;
}

.hover-text {
	left: 23%;
}

.hover-text1 {
	left: 23%;
}

.img-thumbnail-photo-top{
	margin-bottom: 32px;
}

.caption1 h3{
  font-size: 2em;
}

#header-v {
    min-height: 350px;
}

#header-v h1 {
	padding-top: 140px;
	font-size: 50px;
}

a.btn-left {
  width: 50%;
}

a.btn-right {
  width: 50%;
}


.footerTop .logoBottom {
	margin-top: 4px;
	margin-bottom: 40px;
	margin-left: 12px;
}

.footerTop h5 {
	margin-top: 30px;
	margin-left: 12px;
}

.footerTop p, .footerTop ul li, .footerTop .icons, .footerTop .icons-res {
	margin-left: 12px;
}

}


@media(max-width:480px) {
	
.portfolio-banner .main-text {
	line-height: 1.3;
}

.testimonials-banner .main-text {
	line-height: 1.3;
}

.hover-text {
	left: 15%;
}

.hover-text1 {
	left: 15%;
}

a.btn-left {
	display: none;
 
}
a.btn-right {
	display: none;
 
}

#header-v {
    min-height: 260px;
}

#header-v h1 {
	padding-top: 130px;
	font-size: 30px;
}

.footerMenu ul li {
	border-right: none;
	line-height: 1.7;
}

.copy {
	margin-top: 15px;
}

}

@media(max-width:360px) {
	
.hover-text {
	left: 0;
}

.hover-text1 {
	left: 0;
}

.caption1 h3{
  font-size: 1.4em;
  line-height: 1.5em;
}

#header-v {
    min-height: 160px;
}

#header-v h1 {
	padding-top: 90px;
	font-size: 17px;
}

.caption1 {
  width: 65%;
}


.caption1 p {
	width: 100%;
}

}

