<?xml version="1.0"?>

<configuration>
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Canonical domain redirect" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTPS}" pattern="^OFF$" />
            <add input="{HTTP_HOST}" pattern="^www\\.pgaaviation\\.com(:\\d+)?$" />
          </conditions>
          <action type="Redirect" url="https://pgaaviation.com/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
